@model Ogrenci
@{
    ViewData["Title"] = "OgrenciDetay";
}

<h1>Ogrenci Detay</h1>

<form asp-action="OgrenciDetay" asp-controller="Ogrenci" method="post">

    @*<input type="text" asp-for="Ad" class="form-control"/>*@

    @Html.HiddenFor(o=>o.Ogrenciid)

    @Html.LabelFor(o => o.Ad, "Adı", new { @class = "form-label" })
    @Html.TextBoxFor(o => o.Ad, null, new { @class = "form-control" })

    @Html.LabelFor(o => o.Soyad, "Soyadı", new { @class = "form-label" })
    @Html.TextBoxFor(o => o.Soyad, null, new { @class = "form-control" })

    @Html.LabelFor(o => o.Numara, "Numarası", new { @class = "form-label" })
    @Html.TextBoxFor(o => o.Numara, null, new { @class = "form-control" })

    <input type="submit" name="btnKaydet" value="Kaydet" class="btn btn-success" />
</form>
